<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   GuitarSoundFont.plist
   aaa

   Created by Jun Zhou on 1/5/16.
   Copyright (c) 2016 myStride. All rights reserved.
-->
<plist version="1.0">
    <array>
        <string>32000</string>
        <string>E3.caf</string>
        <string>52</string>
        <string>52</string>
        <string>F3.caf</string>
        <string>53</string>
        <string>53</string>
        <string>F3#.caf</string>
        <string>54</string>
        <string>54</string>
        <string>G3.caf</string>
        <string>55</string>
        <string>55</string>
        <string>G3#.caf</string>
        <string>56</string>
        <string>56</string>
        <string>A3.caf</string>
        <string>57</string>
        <string>57</string>
        <string>A3#.caf</string>
        <string>58</string>
        <string>58</string>
        <string>B3.caf</string>
        <string>59</string>
        <string>59</string>
        <string>C4.caf</string>
        <string>60</string>
        <string>60</string>
        <string>C4#.caf</string>
        <string>61</string>
        <string>61</string>
        <string>D4.caf</string>
        <string>62</string>
        <string>62</string>
        <string>D4#.caf</string>
        <string>63</string>
        <string>63</string>
        <string>E4.caf</string>
        <string>64</string>
        <string>64</string>
        <string>F4</string>
        <string>65</string>
        <string>65</string>
        <string>F4#.caf</string>
        <string>66</string>
        <string>66</string>
        <string>G4.caf</string>
        <string>67</string>
        <string>67</string>
        <string>G4#.caf</string>
        <string>68</string>
        <string>68</string>
        <string>A4.caf</string>
        <string>69</string>
        <string>69</string>
        <string>A4#.caf</string>
        <string>70</string>
        <string>70</string>
        <string>B4.caf</string>
        <string>71</string>
        <string>71</string>
        <string>C5.caf</string>
        <string>72</string>
        <string>72</string>
        <string>C5#.caf</string>
        <string>73</string>
        <string>73</string>
        <string>D5.caf</string>
        <string>74</string>
        <string>74</string>
        <string>D5#.caf</string>
        <string>75</string>
        <string>75</string>
        <string>E5.caf</string>
        <string>76</string>
        <string>76</string>
        <string>F5.caf</string>
        <string>77</string>
        <string>77</string>
        <string>F5#.caf</string>
        <string>78</string>
        <string>78</string>
        <string>G5.caf</string>
        <string>79</string>
        <string>79</string>
        <string>G5#.caf</string>
        <string>80</string>
        <string>80</string>
        <string>A5.caf</string>
        <string>81</string>
        <string>81</string>
        <string>A5#.caf</string>
        <string>82</string>
        <string>82</string>
        <string>B5.caf</string>
        <string>83</string>
        <string>83</string>
        <string>C6.caf</string>
        <string>84</string>
        <string>84</string>
        <string>C6#.caf</string>
        <string>85</string>
        <string>85</string>
        <string>D6.caf</string>
        <string>86</string>
        <string>86</string>
        <string>D6#.caf</string>
        <string>87</string>
        <string>87</string>
        <string>E6.caf</string>
        <string>88</string>
        <string>88</string>
        <string>F6.caf</string>
        <string>89</string>
        <string>89</string>
        <string>F6#.caf</string>
        <string>90</string>
        <string>90</string>
        <string>G6.caf</string>
        <string>91</string>
        <string>91</string>
    </array>
</plist>
